fastapi
uvicorn[standard]
pydantic
pandas
numpy
matplotlib
seaborn
plotly
aiohttp
python-dotenv
pyjwt
requests
psutil

# Computer Vision Libraries
mediapipe
cvzone
opencv-python
opencv-contrib-python

# Streamlit for interactive apps
streamlit
streamlit-webrtc

# Additional image/video processing
pillow
imageio
scikit-image
